*{
    padding: 0%;
    margin: 0%;
}
.logo{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: 25%;
    box-sizing: border-box;
   
}
/logo img{
   width: 45%;

}
.Microsoft-Option{
    display: flex;
    background-color:white;
    position: sticky;
}
.navbar{
  
    width: 70%;
    background-color: white;
    text-align: left;
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 5px;
    position: sticky;
    /* align-items: center;
    justify-content: center; */
  
 
 
 }
 .navbar li {
   list-style: none;
   padding: 25px;
   text-shadow: 0cqw;
   position: sticky;
 }
 .navbar li a{
    text-decoration: none;
    
 }
 .navbar li a Support{
   size: 16px;
 }
 .navbar li a:hover{
  outline-style: groove;
  border-bottom: 2px solid #262626;
 }
 .rightnav{


    /* width: 30%;
    background-color: red; */
    /* text-align: right; */
    /* list-style: none;
    text-decoration: none;
    display: flex;
    padding: 25px;
    position: sticky;
    align-items: center;
    justify-content: space-between; */
    float: left;
    width: 30%;
    background-color: white;
    text-align: right;
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 5px;
    position: sticky;

  
 

 }
 .rightnav a {
    text-decoration: none;
    padding: 25px;
    list-style: none;
    /* width: 50px; */
    display: flex;
    /* margin: 2px; */
    
      float: left;
    
 }
 .rightnav  a:hover{
 
    
      border-bottom: 2px solid #262626;
   

 }
 .background{
    background: url(m.webp);
    background-size: cover;
 }
 body{
   background-color: white;
 }
 .MIcrosoft365{
    background: url(m.webp);
    font-size: 50%;

 }
 .nav{
   width: 50%;
    /* background-color: red; */
    text-align: right;
    list-style: none;
    text-decoration: none;
    display: flex;
    padding: 5px;
 }
 .nav li {
   list-style: none;
   padding: 25px;
   text-shadow: 0cqw;
 }
 .nav li a{
    text-decoration: none;
 }
 .nav li a Support{
   size: 16px;
 }
 .nav li a:hover{
  outline-style: groove;
 }
 .showcase{
   width: 100%;
   height: 400px;
   background: url('..webp') ;
   display: flex;
   flex-direction: column;
   align-items: left;
   text-align: left;
   /* justify-content: flex-end; */
   /* padding-bottom: 50px; */
   /* margin-bottom: 20px; */
   padding-top: 20px;
 }
 
 .showcase h2, .showcase p {
   margin-bottom: 10px;
 }
 
 .showcase .btn {
   margin-top: 20px;
 }
 .showcase.content {
   width: 40%;
   padding: 50px 0 0 30px;
 }
 
 .xbox {
   width: 100%;
   height: 400px;
   background: url('..webp') no-repeat center center/cover;
   margin-bottom: 10px;
 }
 
 .xbox .content {
   width: 30%;
   padding: 9% 0 0 17%;
 }
 
 .xbox p, .carbon p {
   margin: 25px 0 20px;
 }

 
* {
   box-sizing: border-box;
 }
 
 /* .row {
   display: flex;
   padding: 33 33 0 33px;
 } */
 
 /* Create three equal columns that sits next to each other */
 /* .column {
   flex: 15.33%;
   padding: 5px;
   padding-left: 3%;
   size: 14%;
   align-items: center;
   justify-content: center; */

/* Clear floats after image containers */
/* .row::after {
  content: "";
  clear: both;
  display: table;
  
} */



/* .row .column a{
  display: inline-block;
  padding-top: 10px;
  color: #0067b8; */
  /* text-transform: uppercase; */
  /* font-weight: bold;
  align-items: center;
  justify-content: center;
  
} */

/* . row .column a:hover i {
  margin-left: 10px;
}
.row.column img{
  padding-left: 15px;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  margin: 5px;
} */
/* .div.dick{
  padding: 5px;
  align-items: center;
  text-align: center;
}
*{
  box-sizing: ;
} */
.row{
     
    padding: 1px;
    float: left;
    width: 100%;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    
  
}
/* .column{
  
    border: 1px solid #ccc;
} */


.column{
width: 33%;
height: auto;
margin: 10 10 10 10px;
  }
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* .column {
  float: left;
  width: 33.33%;
  padding: 5px;
} */

/* Clear floats after image containers */
/* .row::after {
  content: "";
  clear: both;
  display: table;
} */


.carbon .content {
  width: 55%;
  padding: 100px 0 0 30px;
}

/* Follow */

/* Links */
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.links li {
  line-height: 2.8;
}

/* Footer */
.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer div i {
  margin-right: 10px;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer li {
  margin-right: 30px;
  margin-bottom: 20px;
}

@media(max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .main-nav ul.right-menu {
    margin-right: 50px;
  }

  .main-nav ul.main-menu {
    display: block;
    position: absolute;
    top:0;
    left: 0;
    background: #f2f2f2;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .main-nav ul.main-menu li {
    padding: 10px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }

  .main-nav ul.main-menu li:last-child {
    border-bottom: 0;
  }

  .main-nav ul.main-menu.show {
    transform: translateX(-20px);
  }

  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .xbox .content p {
    display: none;
  }

  .xbox .content h2 {
    margin-bottom: 20px;
  }

  .carbon .content {
    width: 85%;
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 500px) {
  .home-cards {
    grid-template-columns: 1fr;
  }

  .links .links-inner {
    grid-template-columns: 1fr;
  }

  .links .links-inner ul {
    margin-bottom: 20px;
  }
}


.i{
     
  padding: 1px;
  float: left;
  width: 100%;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  

}



.L{
width: 27%;
height: 10%;
margin: 10 0 0 10px;
}
.i:after {
content: "";
display: table;
clear: both;
}
